<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Redux iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Redux macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Redux tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Redux watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD30F8E823BA0EDF00C8652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD30F8F123BA0EDF00C8652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD30F90523BA0EF700C8652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD30F91F23BA0F3D00C8652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD30F92723BA0F3D00C8652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD30F93B23BA0F4C00C8652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD30F94323BA0F4C00C8652C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
